.footer{
    width: 100%;
    background-color: #3B71CA;
    padding: 35px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.region-1 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.box-icon {
    width: 35px;
    height: 35px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-size {
    width: 18px;
    height: 18px;
}

.region-2 {
    display: flex;
    gap: 25px;
    align-items: center;
}

.region-2 p{
    width: max-content; /* Hoặc width: 100px; */
    margin: 0 auto;
    color: white;
    font-weight: 600;
}

.input-email{
    background-color: white;
    border-radius: 5px;
    width: 422px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #3B71CA;
    height: 38px;
}

.btn-dk {
    color: white;
    border: 1px solid white;
    width: 120px;
    border-radius: 5px;
    background-color: #3B71CA;
    height: 38px;
}

.btn-dk:hover {
    border: 2px solid white;
    font-weight: 600;
}

.region-3 {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.region-3-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.region-3-box span{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.region-3-box ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 10px;
}

.region-3-box ul li{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.region-3-box ul li a{
    color: white;
    text-decoration: none;
}

.mapp-img {
    width: 345px;
    height: 180px;
    background-color: #bcc5d4;
}