.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 100%;
    padding: 5px 20px;
    z-index: 99;
}

.img-size{
    height: 40px;
    width: 40px;
}
.region{
    display: flex;
    align-items: center;
}
.search {
    width: 250px;
    position: relative;
}

.input-search {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CDCDCD;
    padding: 5px 40px 5px 15px;
    outline: none;
}

.icon-search {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
    cursor: pointer;
}
ul {
    list-style: none; /* Bỏ dấu chấm đầu dòng */
    display: flex;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.2s ease-in-out;
}

ul li a:hover {
    color: #007bff; /* Màu xanh khi hover */
}
